.notification {
    height: 80px;
    width: 250px;
}

.row {
    overflow-x: hidden;
}

.no-new-notification {
    display: flex;
    align-content: center;
    justify-content: center;
    // height: 50px;
}