<form [formGroup]="signinForm">
    <div class="container-fluid">

        <div class="row mt-2">
            <div class="col px-0">
        
                <mat-form-field appearance="outline">
                    <mat-label>Old Password</mat-label>
                    <input matInput formControlName="OldPassword">
                </mat-form-field>
        
            </div>
        </div>
        <div class="row mt-2">
            <div class="col px-0">
        
                <mat-form-field appearance="outline">
                    <mat-label>New Password</mat-label>
                    <input matInput formControlName="NewPassword">
                </mat-form-field>
        
            </div>
        </div>
        <div class="row mt-2">
            <div class="col px-0">
        
                <mat-form-field appearance="outline">
                    <mat-label>Confirm Password</mat-label>
                    <input matInput formControlName="ConfirmPassword">
                </mat-form-field>
        
            </div>
        </div>
    </div>
</form>
