<div class="container-fluid mt-4">
    <div class="d-flex justify-content-center">
        <!-- <div class="col"> -->
            <mat-card class="mat-elevation-z3">
                <div class="row">
                    <div class="col">
                        <h3>Account Settings</h3>
                        <mat-divider></mat-divider>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <mat-tab-group animationDuration="0ms">
                            <mat-tab label="Profile">
                                <profile></profile>
                            </mat-tab>
                            <!-- <mat-tab label="Picture">
                                <picture></picture>
                            </mat-tab> -->
                            <!-- <mat-tab label="Personal">
                                <personal-info></personal-info>
                            </mat-tab> -->
                            <mat-tab label="Signin">
                                <signin></signin>
                            </mat-tab>
                            <!-- <mat-tab label="Advanced">
                                <advanced-settings></advanced-settings>
                            </mat-tab> -->
                        </mat-tab-group>
                    </div>
                </div>
            </mat-card>
        <!-- </div> -->
    </div>
</div>