  <!-- <div class="sidenav-container"> -->
    

    <mat-sidenav-container fullscreen class="mat-sidenav-container">
      <mat-sidenav mode="over" #sidenav>
        <mat-action-list>
          <button mat-list-item class="float-right close-btn" (click)="sidenav.close()">
            <mat-icon>close</mat-icon>
          </button>
        </mat-action-list>
        <mat-nav-list (click)="sidenav.close()">
          <div *ngIf="authState; then dashboardNav; else homeNav"></div>
        </mat-nav-list>
      </mat-sidenav>
      <mat-toolbar color="primary">
        <div class="navbar-center">
          <div class="side-nav-menu">
            <button mat-button class="menu-icon" (click)="sidenav.toggle()">
              <mat-icon [inline]="true">menu</mat-icon>
            </button>
          </div>
          <button mat-button type="button" class="px-0" routerLink="/dashboard/main">
            <h4>Coolshare</h4>
          </button>
        </div>
        <span class="spacer"></span>
        <div class="navbar-end" *ngIf="authState">
          <button mat-mini-fab type="button" color="warm" class="mat-elevation-z1" (click)="navigate('/account')">GM</button>
        </div>
      </mat-toolbar>
      <!-- <mat-sidenav-content> -->
        <div class="container-fluid px-0">
          <router-outlet></router-outlet>
        </div>
      <!-- </mat-sidenav-content> -->
    </mat-sidenav-container>
  <!-- </div> -->


  <ng-template #homeNav>
    <h2 class="pb-1 pl-2" matSubheader>Account</h2>
    <mat-divider class="mx-2"></mat-divider>
    <mat-list-item routerLink="/register">Register</mat-list-item>
    <mat-list-item routerLink="/login">Login</mat-list-item>
  </ng-template>

  <ng-template #dashboardNav>
    <h2 class="pb-1 pl-2" matSubheader>Actions</h2>
    <mat-divider class="mx-2"></mat-divider>
    <mat-list-item routerLink="/dashboard/files">Files</mat-list-item>
    <mat-list-item (click)="logout()">Logout</mat-list-item>
  </ng-template>
