<!-- Component used for snackbar -->

<div class="progress-container">
    <div class="progress-actions" *ngIf="(viewState$ | async)">

        <button mat-button class="px-0" (click)="viewDetails()">View details</button>
        
        <button mat-icon-button class="action-details" *ngIf="(completed$ | async)" (click)="closeSnackbar()">
            <mat-icon>close</mat-icon>
        </button>

        <div *ngIf="(progress$ | async) < 100">
            {{ (progress$ | async) }}%
        </div>

    </div>
    <div class="progress-bar">
        <mat-progress-bar [color]="color" mode="determinate" [value]="(progress$ | async)"></mat-progress-bar>
    </div>
</div>