
<form [formGroup]="profileForm">

    <div class="c-profile">

        <div class="c-profile__body">
            <mat-form-field class="c-profile__item" appearance="outline">
                <mat-label>First Name</mat-label>
                <input matInput formControlName="FirstName">
            </mat-form-field>
            <mat-form-field class="c-profile__item" appearance="outline">
                <mat-label>Last Name</mat-label>
                <input matInput formControlName="LastName">
            </mat-form-field>
            <mat-form-field class="c-profile__item" appearance="outline">
                <mat-label>User Name</mat-label>
                <input matInput formControlName="UserName">
            </mat-form-field>
            <mat-form-field class="c-profile__item" appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput formControlName="Email">
            </mat-form-field>
        </div>

        <div class="c-profile__footer">
            <button mat-raised-button color="primary" class="mr-2" (click)="saveProfile()">Save</button>
            <button mat-raised-button>Cancel</button>
        </div>
        
    </div>
</form>
