.m-icon {
  margin-right: 5px;
}

.mat-list-base .mat-list-item {
  font-size: 15px;
}

.action-toolbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.m-toolbar, .mat-button {
  padding: 0 8px;
}


.list-icon {
  margin-left: auto;
}

.action-0 {
  margin-bottom: 10px;
}