<div *ngIf="rowSelected; then selectedActionCard; else actionCard"></div>

<ng-template #actionCard>
    <input type="file" hidden multiple (change)="uploadData($event)" #uploader>

    <mat-card class="mat-elevation-z2 px-0">
        <mat-action-list>
            <!-- <button mat-list-item class="px-3" color="primary">Create new file</button> -->
            <button mat-list-item (click)="uploader.click()"> <mat-icon class="mr-2">cloud_upload</mat-icon> Upload files</button>
            <!-- <button mat-list-item class="px-3" >Upload folder</button> -->
            <button mat-list-item (click)="refreshFiles()"><mat-icon class="mr-2">refresh</mat-icon>Refresh</button>
            <button mat-list-item (click)="createNewFolder()"><mat-icon class="mr-2">create_new_folder</mat-icon>New folder</button>
        </mat-action-list>
    </mat-card>
</ng-template>

<ng-template #selectedActionCard>
    <mat-card class="mat-elevation-z2 px-0">
        <mat-action-list>
            <button mat-list-item><mat-icon class="mr-2">cloud_download</mat-icon>Download</button>
            <button mat-list-item><mat-icon class="mr-2">text_format</mat-icon>Rename</button>
            <button mat-list-item (click)="deleteItem(1, row)"><mat-icon class="mr-2">close</mat-icon>Delete</button>
        </mat-action-list>
    </mat-card>
</ng-template>