<div class="main-action-menu" *ngIf="isXS">
  <button mat-fab color="primary" [matMenuTriggerFor]="actionMenu" (click)="$event.stopPropagation()">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #actionMenu="matMenu" xPosition="before">
    <file-actions [rowSelected]="false" [mode]="2" [userId]="userId" [userName]="userName" [cwd]="cwd"></file-actions>
  </mat-menu>
</div>

<div class="container-fluid">
  <div class="row mb-3">
    <div class="col-lg-10 col-md-9 col-sm-12 col-12 mt-3">
      <mat-accordion class="example-headers-align" [multi]="true">
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title>Suggestions</mat-panel-title>
          </mat-expansion-panel-header>
          
          <mat-divider></mat-divider>

          <div class="suggestions">
            <div *ngFor="let suggestion of (suggestions$ | async); index as i; trackBy: trackByFn">
              <div *ngIf="!isSuggestions">{{ suggestion.Name }}</div>
              <div *ngIf="isSuggestions" class="suggestion">
                <div class="suggestion__thumbnail"> <!-- [ngStyle]="{ 'background-image': setResource(suggestion.Name, suggestion.Type,  suggestion.IsShared, 'div') }" -->
                  <div class="suggestion__thumbnail-top-row">
                    <mat-checkbox class="ghost-toggle" color="primary"></mat-checkbox>
                    <ng-container *ngTemplateOutlet="fileMenu; context: { file: suggestion }"></ng-container>
                  </div>
                  <img class="suggestion__thumbnail-img" [src]="setResource(suggestion.Name, suggestion.Type, suggestion.IsShared)" [filename]="suggestion.Name" />
                  <div class="suggestion__thumbnail-bottom-row">
                    <button mat-icon-button color="primary" class="ghost-toggle" (click)="editFavoriteStatus(suggestion)">
                      <div *ngIf="suggestion.IsFavorite; then star; else starOutline"></div>
                    </button>
                  </div>
                </div>
                <div class="suggestion__title">
                  <p class="suggestion__title-name">{{ suggestion.Name }}</p>
                </div>
              </div>
            </div>
          </div>
        </mat-expansion-panel>

        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title>Favorites</mat-panel-title>
          </mat-expansion-panel-header>

          <mat-divider></mat-divider>

          <div class="favorites">
            <div *ngFor="let favorite of (favorites$ | async); index as i">
              <div *ngIf="!isFavorites" class="favorite">{{ favorite.Name }}</div>
              <div *ngIf="isFavorites" class="favorite">
                <img class="favorite-icon" [src]="setResource(favorite.Name, favorite.Type, favorite.IsShared)" [filename]="favorite.Name">
                <h3 class="favorite-title">{{ favorite.Name }}</h3>
                <button mat-icon-button color="primary" class="ghost-toggle" (click)="editFavoriteStatus(favorite)">
                  <mat-icon class="favorite-star">star</mat-icon>
                </button>
                <ng-container *ngTemplateOutlet="fileMenu; context: { file: favorite }"></ng-container>
              </div>
              <!-- <mat-divider *ngIf="(favorites$ | async).length - 1 != i"></mat-divider> -->
            </div>
          </div>
        </mat-expansion-panel>

        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title>Recents</mat-panel-title>
          </mat-expansion-panel-header>

          <mat-divider></mat-divider>

          <div class="recents">
            <div *ngFor="let recent of (recents$ | async); index as i">
              <div *ngIf="!isRecents" class="recent">{{ recent.Name }}</div>
              <div *ngIf="isRecents" class="recent">
                <img class="recent__icon" [src]="setResource(recent.Name, recent.Type, recent.IsShared)" [filename]="recent.Name">
                <ul class="recent__list">
                  <li><h3 class="">{{ recent.Name }}</h3></li>
                  <li><p class="recent__list-info">/Home{{ recent.Path }}</p></li>
                  <li><p class="recent__list-info">Added {{ recent.CreatedOn | date }}</p></li>
                </ul>
                <button mat-icon-button color="primary" class="ghost-toggle" (click)="editFavoriteStatus(recent)">
                  <div *ngIf="recent.IsFavorite; then star; else starOutline"></div>
                </button>
                <ng-container *ngTemplateOutlet="fileMenu; context: { file: recent }"></ng-container>
              </div>
              <!-- <mat-divider *ngIf="(recents$ | async).length - 1 != i"></mat-divider> -->
            </div>
          </div>

        </mat-expansion-panel>

      </mat-accordion>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-12 col-12 mb-3 pl-0 file-actions" *ngIf="!isXS">
      <file-actions [mode]="3" [cwd]="cwd" [userId]="userId" [userName]="userName"></file-actions>
      <mat-card class="sidebar-card">
        <entity-info [userName]="userName" [entities]="selection.selected" [userId]="userId"></entity-info>
      </mat-card>
    </div>
  </div>
</div>

<ng-template #star>
  <mat-icon [inline]="true" class="favorite-star">star</mat-icon>
</ng-template>

<ng-template #starOutline>
  <mat-icon [inline]="true" class="favorite-star">star_border</mat-icon>
</ng-template>


<ng-template #fileMenu let-file="file">
  <button color="primary" class="settings ghost-toggle" mat-icon-button [matMenuTriggerFor]="fileActionMenu" (click)="$event.stopPropagation()">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #fileActionMenu="matMenu">
    <button mat-menu-item (click)="setFavoriteState(file)">Star</button>
    <button mat-menu-item (click)="downloadItem(file.Name, file.Type)" download>Download</button>
    <button mat-menu-item (click)="renameEntity(file)">Rename</button>
    <button mat-menu-item>Move</button>
    <button mat-menu-item>Copy</button>
    <button mat-menu-item (click)="getEntityInfo(file)">Info</button>
    <button mat-menu-item (click)="deleteItem(0, file)">Delete</button>
  </mat-menu>
</ng-template>