/* Material Expansion Panel Styles */



.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align {
  max-height: auto;
}

.mat-expansion-panel {
  height: auto !important;
  overflow-y: hidden;
}

/* END Material Expansion Panel Styles */


/* General Styles */

@media only screen and (max-width: 750px) {

  .ghost-toggle {
    display: inline-block;
  }

}

@media only screen and (min-width: 749px) {
  .ghost-toggle {
    display: none;
  }
}

.favorite-star {
  font-size: 30px; 
}

.settings {
  margin-left: auto;
}

.mat-checkbox {
  margin: 10px;
}



/* Material List Styles */

.mat-list-base .mat-list-item .mat-list-avatar {
  border-radius: 0 !important;
  height: 70px;
  max-width: 75px;
}

/* END Material List Styles */






/* File Actions */
.file-actions {
  position: absolute;
  top: 15px;
  right: 0;
  min-width: 150px;
}


.main-action-toolbar {
  position: absolute;
  padding: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
}

.main-action-menu {
  position: absolute;
  z-index: 2;
  bottom: 10px;
  right: 10px;
}

.mat-button-wrapper {
  padding: 0 !important;
}



/* End File Actions */
