<!-- <div class="container-fluid mt-3" *ngIf="isXS">
  <div class="row">
    <div class="col">
      <file-actions 
        [cwd]="cwd" 
        [rowSelected]="rowSelected" 
        [userId]="userId" 
        [selection]="selection" 
        [userName]="userName"
      ></file-actions>
      <mat-card>
        <mat-form-field>
          <input matInput>
        </mat-form-field>
      </mat-card>
    </div>
  </div>
</div> -->

<div class="container-fluid mt-3">
  <div class="row mb-3">
    <!-- <div class="col-lg-3 col-md-3 col-sm-12 col-12 mb-3" >
      <ng-container *ngTemplateOutlet="actionCard"></ng-container>
    </div> -->
    <div class="col-lg-10 col-md-10 col-sm-12 col-12">
      <mat-accordion class="example-headers-align" [multi]="true">
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Recent Items
            </mat-panel-title>
            <mat-panel-description>
              <!-- Type your name and age
            <mat-icon>account_circle</mat-icon> -->
            </mat-panel-description>
          </mat-expansion-panel-header>

          <!-- <div class="thumbnail-container">
            
          </div> -->

          <file-thumbnail [mode]="1" [files]="(files$ | async)"></file-thumbnail>

        </mat-expansion-panel>

        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Favorites
            </mat-panel-title>
            <mat-panel-description>
              <!-- Type the country name
            <mat-icon>map</mat-icon> -->
            </mat-panel-description>
          </mat-expansion-panel-header>

          <!-- <div class="row" *ngIf="isFiles">
            <div class="col">
              
            </div>
          </div> -->

          <div class="row" *ngIf="!isFiles">
            <div class="col">
              <p class="empty-content">Files or folders that are starred will appear here</p>
            </div>
          </div>

        </mat-expansion-panel>

        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Recent
            </mat-panel-title>
            <mat-panel-description>
              <!-- Inform the date you wish to travel
            <mat-icon>date_range</mat-icon> -->
            </mat-panel-description>
          </mat-expansion-panel-header>

          <mat-list *ngIf="isFiles">
            <!-- <h3 mat-subheader>Folders</h3> -->
            <mat-divider></mat-divider>

            <mat-list-item *ngFor="let file of (files$ | async); index as i">
              <!-- <div *ngIf="i < 6"></div> -->
              <mat-icon mat-list-icon *ngIf="file.type === 'File'">insert_drive_file</mat-icon>
              <mat-icon mat-list-icon *ngIf="file.type === 'Folder' && !file.isShared">folder</mat-icon>
              <mat-icon mat-list-icon *ngIf="file.type === 'Folder' && file.isShared">folder_shared</mat-icon>
              <h4 mat-line>{{ file.name }}</h4>
              <p mat-line> Added {{ file.creationDate | date }}</p>
            </mat-list-item>

          </mat-list>

          <mat-list *ngIf="!isFiles">
            <!-- <h3 mat-subheader>Folders</h3> -->
            <mat-divider></mat-divider>

            <mat-list-item>
              <mat-icon mat-list-icon>insert_drive_file</mat-icon>
              <h4 mat-line>You have no recent files to display</h4>
              <p mat-line>Files that have been edited recently will appear here</p>
            </mat-list-item>

          </mat-list>

        </mat-expansion-panel>

      </mat-accordion>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-12 col-12 mb-3 pl-0" *ngIf="!isXS">
      <file-actions 
        [cwd]="cwd" 
        [rowSelected]="rowSelected" 
        [userId]="userId" 
        [selection]="selection" 
        [userName]="userName"
      ></file-actions>
    </div>
  </div>
</div>
