.action-buttons {
    margin-top: auto;
}

.file-list {
    height: 370px;
    overflow-y: auto;
}


// .mat-list-item {
//     height: auto;
// }

.list-item {
    border: 1px solid black;
    height: 60px;
}


.list-name {
    overflow: hidden;
    width: auto;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.mat-list-item-content {
    padding-left: 0;
    padding-right: 0;
}


.row {
    overflow-x: hidden;
}
