

<div class="upload-dialog-title">
    <h4 mat-dialog-title>Upload Details</h4>
    <mat-divider></mat-divider>
</div>

<div mat-dialog-content class="dialog-file-list">
    <div class="list-items" *ngFor="let item of (files$ | async); index as i" >
        <div class="list-item">
            <div class="list-name">{{ item.file.name }}</div>

            <div class="list-size">
                <div>{{ item.file.size | fileSize }}</div>
            </div>

            <!-- <div *ngIf="(completed$ | async) as completed; then done; else loading"></div> -->
            
            <!-- <div *ngIf="item.progress < 100">
                {{ ((selectUploadSpeed$(i) | async) | fileSize) }} 
            </div> -->

            <div class="list-actions">
                <div *ngIf="item.progress < 100" class="actions-player">
                    <button mat-icon-button  (click)="setUploadPlayerState($event, 'PAUSE', i)"> <!-- *ngIf="!item.isPaused" -->
                        <mat-icon color="primary">pause</mat-icon>
                    </button>
                    
                    <button mat-icon-button  (click)="setUploadPlayerState($event, 'RESUME', i)"> <!-- *ngIf="item.isPaused" -->
                        <mat-icon color="accent">play_arrow</mat-icon>
                    </button>
                </div>
                <ng-container 
                    *ngTemplateOutlet="item.progress === 100 ? done : loading; context: { index: i, color: item.color }"
                ></ng-container>
            </div>
        </div>
    
        <div class="list-progress-bar">
            <upload-progress [progress]="item.progress" [key]="i" [color]="item.progressColor"></upload-progress>
        </div>
    </div>
</div>

<div mat-dialog-actions class="upload-dialog-actions">
    <input hidden multiple type="file" (change)="uploadFiles($event)" #uploader>
    <button mat-raised-button color="primary" class="ml-2" (click)="uploader.click()">Add more files</button>
    <button mat-raised-button class="ml-2" (click)="closeDialog()">Done</button>
</div>

<ng-template let-index="index" #done>
    <mat-icon [color]="getProgressColor$(index) | async">check_circle_outline</mat-icon>
</ng-template>


<ng-template let-index="index" let-color="color" #loading>
    <button mat-icon-button class="mr-0 px-0" (click)="cancelUpload($event, index)">
        <mat-icon [color]="color">close</mat-icon> <!-- [color]="getProgressColor$(index) | async" -->
    </button>
</ng-template>





<!-- <ng-template #fileList>
    <div mat-dialog-content>
        <mat-selection-list #fileList>
            <mat-list-option [checkboxPosition]="'before'" *ngFor="let file of files; index as i; trackBy: trackByFn">
                <div class="container-fluid px-0">
                    <div class="row">
                        <div class="col">
                            {{ file.name }}
                        </div>
                        
                    </div>
                </div>
                <upload-progress></upload-progress>
            </mat-list-option>
        </mat-selection-list>
    </div>
</ng-template> -->