<div class="container-fluid">
    <div class="row">
        <div class="col">
            <form [formGroup]="newFolderForm">
                
                <h2 mat-dialog-title><mat-icon [inline]="true">folder</mat-icon> Create new folder</h2>

                <mat-dialog-content>
                    <mat-form-field appearance="outline">
                        <mat-label>Name this folder</mat-label>
                        <input matInput placeholder="Placeholder" formControlName="FolderName">
                        <!-- <mat-hint>Hint</mat-hint> -->
                    </mat-form-field>

                    <mat-list>
                        <h3 mat-subheader class="px-0 pb-1">Who has access</h3>
                        <mat-divider class="mb-2"></mat-divider>
                        <mat-radio-group formControlName="Accessability" [value]="0">
                            <mat-list-item>
                                <mat-radio-button [value]="0" class="mb-2">
                                    <h4 mat-line>Only You</h4>
                                    <p mat-line>Only you can access this folder</p>
                                </mat-radio-button>
                            </mat-list-item>
                            <mat-list-item>
                                <mat-radio-button [value]="1">
                                    <h4 mat-line>Group of people</h4>
                                    <p mat-line>Share this folder with a group of people</p>
                                </mat-radio-button>
                            </mat-list-item>
                        </mat-radio-group>
                    </mat-list>
                </mat-dialog-content>
                
                <div class="row">
                    <div class="col-auto ml-auto">
                        <button mat-button mat-dialog-close class="mr-2">Cancel</button>
                        <button mat-flat-button color="primary" (click)="saveAndClose()">Create</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>