<div *ngIf="isLoaded">
    <repository [mode]="1" [id]="id"></repository>
</div>

<div *ngIf="!isLoaded">
    <div class="container-fluid">
        <div class="row mt-3">
            <div class="col">
                <mat-card>
                    <h3>Uh oh... Well, this is pretty embarssing...</h3>
                    <p>We had a hard time finding the shared content you are trying to access.</p>
                    <ul>
                        <li>Please check the spelling of the URL.</li>
                        <li>Verify with the owner that the content is still available</li>
                    </ul>
                </mat-card>
            </div>
        </div>
    </div>
</div>

