<mat-menu #menu="matMenu">
  <button *ngIf="!rowSelected" mat-menu-item (click)="uploader.click()">
    <mat-icon class="mr-2">cloud_upload</mat-icon> Upload files
  </button>
  <button *ngIf="!rowSelected" mat-menu-item (click)="folderUploader.click()">
    <mat-icon class="mr-2">cloud_upload</mat-icon> Upload folder
  </button>
  <button *ngIf="!rowSelected" mat-menu-item (click)="createNewFolder()">
    <mat-icon class="mr-2">create_new_folder</mat-icon>New Folder
  </button>
  <button *ngIf="!rowSelected" mat-menu-item (click)="refreshFileView()">
    <mat-icon class="mr-2">refresh</mat-icon>Refresh
  </button>
  <button *ngIf="rowSelected" mat-menu-item (click)="setFavoriteState(row)">Star</button>
  <button *ngIf="rowSelected" mat-menu-item>Rename</button>
  <button *ngIf="rowSelected" mat-menu-item>Move</button>
  <button *ngIf="rowSelected" mat-menu-item>Copy</button>
  <button *ngIf="rowSelected" mat-menu-item (click)="deleteItem(1, row)">Delete</button>
</mat-menu>

<div class="repository-container"> <!-- viewMode [mode]="displayMode" -->

  <mat-card *ngIf="displayMode === 0" class="mat-elevation-z2 path-card repository-breadcrumbs">
    <ng-container *ngTemplateOutlet="breadCrumbs; context: { path: path, mode: mode }"></ng-container>
  </mat-card>

  <mat-card class="mat-elevation-z2 repository-search">
    <mat-form-field appearance="outline">
      <mat-label>Search for a file</mat-label>
      <input matInput [formControl]="repositorySearch" />
    </mat-form-field>
  </mat-card>

  <div class="repository-actions">
    <file-actions 
      [mode]="1" 
      [cwd]="cwd" 
      [rowSelected]="rowSelected" 
      [selection]="selection" 
      [userId]="userId" 
      [userName]="userName"
    ></file-actions>
  </div>
  
  <div class="repository-data mat-elevation-z2">
    <div [ngSwitch]="displayMode">
      <div *ngSwitchCase="0">
        <ng-container *ngTemplateOutlet="list"></ng-container>
      </div>
      <div *ngSwitchCase="1">
        <ng-container *ngTemplateOutlet="grid"></ng-container>
      </div>
    </div>
  </div>

  <div class="repository-sidebar">

    <file-actions 
      [mode]="0" 
      [cwd]="cwd" 
      [rowSelected]="rowSelected" 
      [selection]="selection" 
      [userId]="userId" 
      [userName]="userName"
    ></file-actions>

    <mat-card class="sidebar-card">
      <entity-info [userName]="userName" [entities]="selection.selected"></entity-info>
    </mat-card>

  </div>
</div>

<!-- Grid View -->
<ng-template #grid>
  
  <div class="grid-header">
    <div *ngIf="displayMode === 1" class="folder-path">
      <ng-container *ngTemplateOutlet="breadCrumbs; context: { path: path, mode: mode }"></ng-container>
    </div>
    <div class="view-mode-toggle">
      <button mat-icon-button class="grid-view-btn" [matMenuTriggerFor]="displayMenu"><mat-icon>list</mat-icon></button>
      <mat-menu #displayMenu="matMenu">
        <button (click)="setTableViewState($event, 0)" mat-menu-item>
          <mat-icon class="mr-2">list</mat-icon>List
        </button>
        <button (click)="setTableViewState($event, 1)" mat-menu-item>
          <mat-icon class="mr-2 large-grid">grid_on</mat-icon>Large
        </button>
      </mat-menu>
    </div>
  </div>

  <mat-divider></mat-divider>

  <div class="grid-body" *ngIf="!isFolderEmpty">
    <div class="loading-shade" *ngIf="isLoadingResults">
      <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    </div>
    <div gridEntity [isSelected]="rowSelected" class="thumbnail-wrapper" (click)="setEntitySelectionState($event, file, 'grid', gridentity)" [id]="i" *ngFor="let file of files; index as i; trackBy: trackByFn">
      <div class="thumbnail" [ngStyle]="{ 'background-image': getUrl(file.Name, file.Type) }">
        <div class="tn-top-row">
          <mat-checkbox color="primary" class="m-2 ghost-button" [checked]="selection.isSelected(file)" (click)="$event.stopPropagation()" (change)="setSelectionState($event, file)"></mat-checkbox>
          <button class="tb-button ghost-button" mat-icon-button color="accent" [matMenuTriggerFor]="menu" (click)="handleClickEvent($event, i)">
            <mat-icon class="thumbnail-menu">more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>Share</button>
            <button mat-menu-item (click)="downloadItem(file.Name)" download>Download</button>
            <button mat-menu-item (click)="setFavoriteState(file)">Star</button>
            <button mat-menu-item (click)="renameEntity(file)">Rename</button>
            <button mat-menu-item>Move</button>
            <button mat-menu-item>Copy</button>
            <button mat-menu-item (click)="deleteItem(0, file)">Delete</button>
          </mat-menu>
        </div>
        <div class="tn-bottom-row">
          <button mat-icon-button class="ghost-button" color="primary" (click)="editFavoriteStatus($event, file)">
            <div *ngIf="file.IsFavorite; then star; else starOutline"></div>
          </button>
        </div>
      </div>
      <div class="tn-title" >
        <p class="tn-name" (click)="getFolderContents($event, file)">{{ file.Name }}</p>
      </div>
    </div>
  </div>
  <div class="empty-folder" *ngIf="isFolderEmpty">
    <h4 class="empty-folder-title">Upload files, or create a new folder to get started!</h4>
  </div>
</ng-template>

<!-- Data Table View -->
<ng-template #list>
  <div dropzone (onFileDropped)="uploadData(files)" class="table-container">

    <table mat-table [dataSource]="dataSource" matSort>
      <!-- Checkbox Column -->
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox color="primary" (change)="$event ? masterToggle() : null"
            [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()"
            [aria-label]="checkboxLabel()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row; let i = index">
          <mat-checkbox color="primary" *ngIf="!row.empty" (click)="$event.stopPropagation()"
            (change)="setSelectionState($event, row)" [checked]="selection.isSelected(row)"
            [aria-label]="checkboxLabel(row)">
          </mat-checkbox>
        </td>
      </ng-container>
    
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let row" class="text-truncate">
          <span (click)="getFolderContents($event, row)">{{ row.Name }}</span>
        </td>
      </ng-container>
    
      <!-- Date Created Column -->
      <ng-container matColumnDef="createdDate">
        <th mat-header-cell mat-sort-header arrowPosition="before" class="text-left" *matHeaderCellDef>Date Created</th>
        <td mat-cell *matCellDef="let row">{{ row.CreatedOn | date : "short" }}</td>
      </ng-container>
    
      <!-- Members Column -->
      <ng-container matColumnDef="members">
        <th mat-header-cell mat-sort-header arrowPosition="before" *matHeaderCellDef>Members</th>
        <td mat-cell *matCellDef="let row">{{ row.IsShared ? "Members" : "Only Me" }}</td>
        <!-- <td mat-cell *matCellDef="let row">
          <div *ngIf="row.IsShared">
            <div *ngFor="let invitee of row.Meta.invitees">{{ invitee }}</div>
          </div>
          <div *ngIf="!row.IsShared">Only Me</div>
        </td> -->
      </ng-container>
    
      <!-- Action Column -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>
  
          <input type="file" hidden multiple (change)="uploadData($event)" #uploader>
          <input type="file" webkitdirectory (change)="uploadFolder($event)" mozdirectory hidden #folderUploader>

          <button mat-icon-button class="p-0" [matMenuTriggerFor]="displayMenu">
            <mat-icon>list</mat-icon>
          </button>
  
          <button *ngIf="isXS" class="p-0" mat-icon-button (click)="$event.stopPropagation()" [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
    
          <!-- View Mode Menu -->
  
          <mat-menu #displayMenu="matMenu">
            <button (click)="setTableViewState($event, 0)" mat-menu-item>
              <mat-icon class="mr-2">list</mat-icon>List
            </button>
            <button (click)="setTableViewState($event, 1)" mat-menu-item>
              <mat-icon class="mr-2 large-grid">grid_on</mat-icon>Large
            </button>
          </mat-menu>
    
        </th>
        <td mat-cell *matCellDef="let row">
          <button class="p-0" mat-icon-button (click)="$event.stopPropagation()" [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>Share</button>
            <button mat-menu-item (click)="showInfoDialog(row)" *ngIf="isXS">Info</button>
            <button mat-menu-item (click)="downloadItem(row.Name)" download>Download</button>
            <button mat-menu-item (click)="setFavoriteState(row)">Star</button>
            <button mat-menu-item (click)="renameEntity(row)">Rename</button>
            <button mat-menu-item>Move</button>
            <button mat-menu-item>Copy</button>
            <button mat-menu-item (click)="deleteItem(0, row)">Delete</button>
          </mat-menu>
        </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="setEntitySelectionState($event, row, 'list')"></tr>
    </table>
  </div>
</ng-template>

<ng-template #star>
  <mat-icon class="favorite-star">star</mat-icon>
</ng-template>

<ng-template #starOutline>
  <mat-icon class="favorite-star">star_border</mat-icon>
</ng-template>

<ng-template #breadCrumbs let-path="path" let-mode="mode">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb mb-0">
      <li class="breadcrumb-item active" aria-current="page" *ngIf="mode === 0"><a class="folder-node"
          (click)="navigateToNode($event, 0)">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page" *ngFor="let node of path; index as i"><a class="folder-node"
          (click)="navigateToNode($event, i + 1)">{{ node }}</a></li>
    </ol>
  </nav>
</ng-template>