/* Structure */



.repository-container, .repository-wrapper {
  height: 92%;
  margin-bottom: 15px;
  background-color: rgb(255, 255, 255) 
}

table {
  width: 100%;

}

th, td {
  overflow: hidden;
  width: auto;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.mat-column-action {
  flex: 0 0 30px;
}

.loading-shade {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px;
}


/* Column Widths */
.mat-column-createdDate {
  width: 120px;
}

.mat-column-select {
  width: 50px;
  padding: 32px 17px 28px 17px !important;
}

.mat-column-name {
  max-width: 150px;
}

.mat-column-action {
  width: 100px !important;
  padding-right: 10px !important;
}

.mat-column-members {
  width: 100px !important;
}


/*  Row Actio Checkbox Styles */

// .mat-column-select:hover {
//   .mat-checkbox {
//     display: inline;
//   }
// }

// .mat-checkbox {
//   display: none;
// }

.mat-column-action, .mat-column-createdDate, .mat-column-members {
  text-align: right;
  justify-content: flex-end;
}


/* Angular Material Card Styles */

.path-card {
  padding: 8px 18px;
}


/* Action Sidebar Styles */

// .action-sidebar {
//   display: flex;
//   height: 100%;
// }



/* Breadcrumb (Folder Hierarchy View) Styles */

.breadcrumb {
  background-color: transparent !important;
  padding: 5px;
}

a.folder-node:hover {
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}

a.folder-node {
  color: blue;
}


.mat-row {
  height: 75px !important;
  
}

.mat-row:hover {
  cursor: pointer;

  td.mat-cell.mat-column-name {
    color: blue;
  }
}

.mat-menu-item {
  height: 40px;
}

.folder-path {
  margin-left: 15px;
  margin-right: 15px;
  width: auto;
}

/* Grid View Menu Styles */



.grid-view-btn {
  margin-right: 10px;
}

.grid-view-title {
  margin-left: 23px;
  margin-bottom: 0;
}




/* Grid View Styles */

.grid-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 78px;
}

.grid-body {
    padding: 15px 15px;
    height: auto;
    display: grid;
    column-gap: 5px;
    row-gap: 5px;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
}

.tn-top-row {
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tn-bottom-row {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}


.tb-button {
    width: 35px !important;
    height: 35px !important;
    margin-left: auto;
}

.ghost-button {
    display: none
}

::ng-deep .mat-icon {
    height: 30px !important;
    width: 30px !important;
    font-size: 30px !important;
}

.thumbnail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 140px;
  max-width: 130px;
  object-fit: contain;
  background-size: cover;
  background-position: center;
  margin: auto;
}

.thumbnail-wrapper {
  border-radius: 4px;
}

.thumbnail-wrapper:hover {
  cursor: pointer;

  .ghost-button {
      display: inline-block;
  }

  p.tn-name {
      color: rgb(0, 96, 252)
  }

  p.tn-name:hover {
    text-decoration: underline;
  }

}

.thumbnail-menu {
    font-size: 20px;
}

.tn-name {
    // word-wrap: break-word;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 5px;
}

.tn-title {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
}

.empty-folder {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
}

.empty-folder-title {
  margin: 20px;
}